// Google Fonts
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans&display=swap);

// Font Variables
$poppins: 'Poppins', serif;   
$open-sans: 'Open Sans', sans-serif;

//Color Variables
$clr-primary:hsl(257, 40%, 49%);
$clr-secondary:hsl(300, 69%, 71%);

//General 
*,
*::after,
*::before{
    box-sizing: border-box;
}
img{
    width: 100%;
    height: auto;
    display: block;
}
ul, li, a {
    text-decoration: none;
    list-style: none;
    padding: 0;
}


//Body 
body{
    padding: 0;
    margin: 0;
    background-image: url(../images/bg-mobile.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: $clr-primary;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    .container{
        max-width:80vw;
        margin: 2em auto;
        display: flex;
        flex-direction: column;
        row-gap: 4em;

        .logo{
            width: 40%;
        }

        main{
            .content{
                margin-top: 2em;
                text-align: center;
                h1{
                    font-family: $poppins;
                    line-height: 1.5;
                    font-size: 1.45rem;
                    span{
                        display: block;
                    }
                }
                .description{
                    font-family: $open-sans;
                    font-size: 1rem;
                    color: #fff;
                    line-height: 1.5;
                }

                .btn{
                    cursor: pointer;
                    border: none;
                    font-family: $poppins;
                    font-size: 1.125rem;
                    padding: .75em 5em;
                    color:$clr-primary;
                    box-shadow: 0px 5px 10px  rgba(0,0,0,0.32);
                    border-radius: 5em;
                    transition: background 350ms ease,
                                color 400ms ease;
                    &:hover,
                    &:focus{
                        background:$clr-secondary;
                        color:#ffffff;
                    }
                }
            }
            
        }

        footer{
            .social-links{
                display: flex;
                justify-content: center;
                column-gap: 1em;
                li > a > i{
                    color: #ffffff;
                    font-size: 1.5rem;
                    border:1px solid #ffffff;
                    border-radius: 50%;
                    padding: 0.5em;
                    transition: background 350ms ease,
                                color 400ms ease;
                    &:hover,
                    &:focus{
                        color:$clr-secondary;
                        border:1px solid $clr-secondary;
                    }
                }
            }
        }
    }

}

//Media Queries
@media screen and (min-width:576px) {
    img{
        max-width: 100%;
    }
    body{
        .container{
            main{
               
                .content{
                    h1{
                        font-size: 2rem;
                    }
                    .description{
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
} 
     
@media screen and (min-width:700px)  {
    body{
        background-image: url(../images/bg-desktop.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0 center;
        

        .container{
            width: 100%;
            max-width: 80vw;

            header{
                .logo {
                    width:30%
                }
            }
            main{

                display: flex;
                column-gap: 1em;

                div {
                    flex-basis: 100%;
                }
                .hero-images{
                    align-self: center;
                }

                .content{
                    text-align: left;
                    

                    h1{
                        font-size: 1.5rem;
                    }
                    .description{
                        font-size: 1rem;
                    }
                    .btn{
                        font-size: 1rem;
                    }
                }
            }
        footer{
            .social-links{
                justify-content: flex-end;
            }

        }
    } 
}
}


@media screen and (min-width:992px)  {
    body{
          .container{
            width:95%;

            header{
                .logo {
                    width:30%
                }
            }
            main{
                
                

                .content{
                    text-align: left;
                    flex-basis: 60%;

                    h1{
                        font-size: 2rem;
                    }
                    .description{
                        font-size: 1rem;
                    }
                    .btn{
                        font-size: 1rem;
                    }
                }
            }
       
    } 
    }
}


@media screen and (min-width:1200px)  {
    body{
        
        .container{
            width: 100%;
            max-width: 80vw;
            row-gap: 5em;

            header {
                .logo{
                    width: 10%;
                }
            }
            main{
                column-gap: 2em;
                .hero-images{
                    flex-basis: 60%;
                }
                .content{
                    flex-basis: 40%;
                    h1{
                        font-size: 2rem;
                    }
                    .description{
                        font-size: 1.10rem;
                    }
                    
                }
            }
        }
    }
}
@media screen and (min-width:1680px) {
    body{
        background-size: contain;
        background-position: 0 center;
        .container{
            width: 100%;
            max-width: 80vw;
            row-gap: 5em;

            header {
                .logo{
                    width: 15%;
                }
            }
            main{
                column-gap: 5em;
                .hero-images{
                    flex-basis: 55%;
                }
                .content{
                    flex-basis: 40%;
                    h1{
                        font-size: 3rem;
                    }
                    .description{
                        font-size: 1.25rem;
                    }
                    .btn{
                        padding: 1em 5em;
                        font-size: 1.25rem;
                    }
                }
            }
        }
    }
}